@model legarage.Models.ProductsModel
@using legarage.Models;

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">@Resources.CP_Parts.Images</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form id="AddImagesForm">
        <input type="hidden" value="@Model.ID" name="id" id="id" />
        <div id="ImagesForm" class="form-group text-center">
            <h5>@Resources.CP_Parts.Images</h5>
            @if (Model.Images != null)
            {
                foreach (ImagesModel img in Model.Images)
                {
                    <div class="py-3 border m-1">
                        <img class="rounded w-50" src="~/Images/Products/SubImages/@img.URL" />
                        <button type="button" class="btn btn-danger" style="margin: 14%;" onclick="DeleteImage('@Model.ID','@img.ID','@Model.URL.DeleteImage','@Model.URL.RefreshImages')">
                            @Resources.CP_Parts.DeleteImage
                        </button>
                    </div>
                }
            }
            else
            {
                <div>
                    @Resources.CP_Parts.NoImage
                </div>
            }
        </div>
    </form>
    <div class="form-group">
        <label>@Resources.CP_Parts.AddImage</label>
        <form action="/Home/DropAttachmentsSingle/" Class="dropzone" id="dropzone"></form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.CP_Parts.Close</button>
    <button type="button" class="btn btn-primary" onclick="AddImage('@Model.ID','@Model.URL.AddingImages','@Model.URL.RefreshImages')">@Resources.CP_Parts.Add</button>
</div>