@using SGAW_ECHO.Classes;
@using System.Data;
@using SGAW_ECHO.Models.API.Countries;
@using SGAW_ECHO.Models.API.Neighborhoods;
@model NeighborhoodModel


<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Neighborhood Details</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="Form">
        <div class="form-group">
            <input disabled type="hidden" name="ID" value="@Model.ID" />
            <div class="form-group">
                <label for="Ar"><span style="color:red;">*</span>Arabic Name</label>
                <input disabled value="@Model.Ar" type="text" class="form-control" id="Ar" name="Ar" placeholder="Enter Arabic Name">
            </div>
            <div class="form-group">
                <label for="En"><span style="color:red;">*</span>English Name</label>
                <input disabled value="@Model.En" type="text" class="form-control" id="En" name="En" placeholder="Enter English Name">
            </div>
            <div class="form-group">
                <label for="Tr"><span style="color:red;">*</span>Turkish Name</label>
                <input disabled value="@Model.Tr" type="text" class="form-control" id="Tr" name="Tr" placeholder="Enter Turkish Name">
            </div>
        </div>
        @*<div class="form-group">

            <label for="countries"><span style="color:red;">*</span>Country</label>
            <select disabled name="country" class="form-control mr-sm-2" id="countries" value="">

            </select>
        </div>*@
    </form>
    <hr />
    <div><small class="text-danger">@(ViewBag.msg??"")</small></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
