@using System.Data;
@using legarage.Classes;
@model legarage.Models.URLModel

<div class="modal-header">
    <h5 class="modal-title">@Resources.CP.AddNewVehicles</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form id="AddForm">
        <div class="form-group">
            <label for="title"><span style="color:red;">*</span>@Resources.CP.Title @Resources.CP.Vehicle</label>
            <input type="text" class="form-control" id="title" placeholder="@Resources.CP.Enter @Resources.CP.Title @Resources.CP.Vehicle" name="title">
        </div>
        <div class="form-group">
            <label for="owner_name"><span style="color:red;">*</span>@Resources.CP.OwnerName</label>
            <input type="text" class="form-control" id="owner_name" placeholder="@Resources.CP.Enter @Resources.CP.OwnerName" name="owner_name">
        </div>
        <div class="form-group">
            <label for="name"><span style="color:red;">*</span>@Resources.CP.Username</label>
            @{
                DataTable Users = new DataTable();
                string msg = "";
                Users = legarage.Classes.Database.ReadTable("Users", " where is_admin <> 1", null, out msg);
            }
            <select id="user" name="user" class="form-control">
                @{
                    if (Users != null && Users.Rows.Count > 0)
                    {
                        <option value="-1">@Resources.CP.Enter @Resources.CP.Username</option>
                        foreach (DataRow user in Users.Rows)
                        {
                            <option value="@user["id"].ToString()">
                                @user["full_name"].ToString()
                            </option>
                        }
                    }
                    else
                    {
                        <option value="-1"><lable>@Resources.CP.NoUser</lable></option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label for="country"><span style="color:red;">*</span>@Resources.CP.Country</label>
            <select name="country" id="country" onchange="Get_Options('city', 'country', '/Home/GetCities/')" class="form-control"></select>
        </div>
        <div class="form-group">
            <label for="country"><span style="color:red;">*</span>@Resources.CP.City</label>
            <select name="city" id="city" class="form-control">
                <option value="-1">@Resources.CP.Chose @Resources.CP.Country</option>
            </select>
        </div>
        <div class="form-group">
            <label for="address"><span style="color:red;">*</span>@Resources.CP.Address</label>
            <input type="text" class="form-control" id="address" placeholder="@Resources.CP.Enter @Resources.CP.Address" name="address">
        </div>
        <div class="form-group">
            <label><span style="color:red;">*</span>@Resources.CP.Phone</label>
            <div class="row">
                <div class="col-4">
                    <select name="code" id="code" class="form-control">
                        <option value="-1">@Resources.CP.Chose @Resources.CP.Country</option>
                    </select>
                </div>
                <div class="col-8 pl-2">
                    <input type="tel" class="form-control" id="mobile" name="mobile" placeholder="@Resources.CP.Enter @Resources.CP.Phone">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="whatsapp"><span style="color:red;">*</span>@Resources.CP.WhatsappNumber</label>
            <input type="tel" class="form-control" id="whatsapp" placeholder="@Resources.CP.Enter @Resources.CP.WhatsappNumber" name="whatsapp">
        </div>
        @Html.Partial("~/Views/Shared/Sections/options/_vehicle-types.cshtml", new ViewDataDictionary { { "type", "radio" } })
        @Html.Partial("~/Views/Shared/Sections/options/_brands.cshtml", new ViewDataDictionary { { "type", "radio" } })
        @Html.Partial("~/Views/Shared/Sections/options/_models.cshtml", new ViewDataDictionary { { "type", "radio" } })

        @*<div class="form-group">
            @{
                DataTable Vehicle_Types = new DataTable();
                Vehicle_Types = legarage.Classes.Database.ReadTable("Vehicle_Types", out msg);
            }
            <label><span style="color:red;">*</span>@Resources.CP.VehicleType</label>
            @{if (Vehicle_Types != null && Vehicle_Types.Rows.Count > 0)
                {
                    foreach (DataRow vehicle in Vehicle_Types.Rows)
                    {
                        <div class="form-control input-group">
                            <div class="input-group-append mr-3">
                                <div class="input-group-text">
                                    <input type="radio" name="vehicletype" value="@vehicle["id"].ToString()" />
                                </div>
                            </div>
                            @vehicle["type_name"].ToString()
                        </div>
                    }
                }
                else
                {
                    <label class="form-control">@Resources.CP.NoVehicle</label>
                }
            }
        </div>*@
        @*<div class="form-group">
            @{
                DataTable Models = new DataTable();
                Models = legarage.Classes.Database.ReadTable("Models", out msg);
            }
            <label><span style="color:red;">*</span>@Resources.CP.Model</label>
            @{if (Models != null && Models.Rows.Count > 0)
                {
                    foreach (DataRow Model in Models.Rows)
                    {
                        <div class="form-control input-group">
                            <div class="input-group-append mr-3">
                                <div class="input-group-text ">
                                    <input type="radio" value="@Model["id"].ToString()" name="model">
                                </div>
                            </div>
                            @Model["name"].ToString()
                        </div>
                    }
                }
                else
                {
                    <label class="form-control">@Resources.CP.NoModel</label>
                }
            }
        </div>*@
        <div class="form-group">
            <label for="is_new"><span style="color:red;">*</span>@Resources.CP.IsNew</label>
            <select name="is_new" id="is_new" class="form-control">
                <option value="-1" selected>@Resources.CP.IsNew</option>
                <option value="0">@Resources.CP.No</option>
                <option value="1">@Resources.CP.Yes</option>
            </select>
        </div>
        <div class="form-group">
            <label for="price"><span style="color:red;">*</span>@Resources.CP.Price</label>
            <input type="number" min="1" class="form-control" id="price" placeholder="@Resources.CP.Enter @Resources.CP.Price" name="price">
        </div>
        <div class="form-group">
            <label for="quantity"><span style="color:red;">*</span>@Resources.CP.Quantity</label>
            <input type="number" min="1" class="form-control" id="quantity" placeholder="@Resources.CP.Enter @Resources.CP.Quantity" name="quantity">
        </div>
        <div class="form-group">
            <label for="year"><span style="color:red;">*</span>@Resources.CP.Year</label>
            <select class="form-control" autocomplete="off" id="year" name="year">
                @{
                    <option value="-1">@Resources.CP.Enter @Resources.CP.Year</option>
                    for (int i = 2020; i > 1960; i--)
                    {
                        <option value="@i">
                            @i
                        </option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label for="mieage"><span style="color:red;">*</span>@Resources.CP.Mieage</label>
            <select class="form-control" id="mieage" name="mieage">
                <option value="-1" selected>@Resources.CP.Enter @Resources.CP.Mieage</option>
                <option value="0">@Resources.CP.New</option>
                <option value="1">@Resources.CP.Less50</option>
                <option value="2">@Resources.CP.Less100</option>
                <option value="3">@Resources.CP.Less150</option>
                <option value="4">@Resources.CP.More150</option>
            </select>
        </div>
        <div class="form-group">
            <label for="gearbox"><span style="color:red;">*</span>@Resources.CP.Gearbox</label>
            <select class="form-control" id="gearbox" name="gearbox">
                <option value="-1" selected>@Resources.CP.Enter @Resources.CP.Gearbox</option>
                <option value="0">@Resources.CP.Automatic</option>
                <option value="1">@Resources.CP.Manual</option>
            </select>
        </div>
        <div class="form-group">
            <label for="quantity"><span style="color:red;">*</span>@Resources.CP.FuelType</label>
            <select class="form-control" id="fuel_type" name="fuel_type">
                <option value="-1" selected>@Resources.CP.Enter @Resources.CP.FuelType</option>
                @{
                    int index = 1;
                    if (Session["lng"] == null || Session["lng"].ToString() == "en")
                    {
                        index = 0;
                    }
                    for (int i = 0; i < HelperClass.FuleTypes_.GetLength(0); i++)
                    {
                        <option value="@i">@HelperClass.FuleTypes_[i, index]</option>
                    }

                }
            </select>
        </div>
        <div class="form-group">
            <label for="engine_size"><span style="color:red;">*</span>@Resources.CP.EngineSize</label>
            <input list="browsers" autocomplete="off" name="engine_size" id="engine_size" class="form-control" placeholder="@Resources.CP.Enter @Resources.CP.EngineSize">
            <datalist id="browsers">
                @{
                    for (int i = 20; i <= 700; i += 10)
                    {
                        double val = i / 100.0;
                        <option value="@val">@val</option>
                    }

                }
            </datalist>
        </div>
        <div class="form-group">
            <label for="color"><span style="color:red;">*</span>@Resources.CP.Color</label>
            <input type="text" class="form-control" id="color" name="color" placeholder="@Resources.CP.Enter @Resources.CP.Color">
        </div>
        <div class="form-group">
            <label for="keywords"><span style="color:red;">*</span>@Resources.CP.Keywords</label>
            <textarea class="form-control" id="keywords" rows="2" placeholder="@Resources.CP.Enter @Resources.CP.Keywords" name="keywords"></textarea>
        </div>
        <div class="form-group">
            <label for="description"><span style="color:red;">*</span>@Resources.CP.Descrption</label>
            <textarea class="form-control" id="description" rows="4" placeholder="@Resources.CP.Enter @Resources.CP.Descrption" name="description"></textarea>
        </div>
    </form>
    <div class="form-group">
        <label><span style="color:red;">*</span>@Resources.CP.Enter @Resources.CP.Image</label>
        <form action="/Home/DropAttachmentsSingle/" Class="dropzone" id="dropzone"></form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.CP.Close</button>
    <button type="submit" class="btn btn-primary" id="myBtn" onclick="return Adding('@Model.Adding','@Model.Refresh');">@Resources.CP.Add</button>
</div>

